<%# Local variables: target [Hub|Contributor] %>

<h2>API Use</h2>

<ul>
  <li>View item metadata: <%= target.total_api_events %></li>
  <li>Registered users or apps: <%= target.api_users %></li>
</ul>
