<%# Local variables: @api_overview [OverviewApi] %>

<% if api_data_for_date_range? %>

  <table>
    <tr>
      <td>
        <div class="tooltip">
          View item metadata
          <span class="tooltiptext"><%= view_api_item_tooltip %></span>
        </div>
      </td>
      <td><%= @api_overview.events %></td>
    </tr>
    <tr>
      <td>
        <div class="tooltip">
          Registered users/apps
          <span class="tooltiptext"><%= api_users_tooltip %></span>
        </div>
      </td>
      <td><%= @api_overview.users %></td>
    </tr>
  </table>

<% else %>
    <div class="no-data">Data not available for this date range.</div>
<% end %>
