<%# Local variables: target [Hub|Contributor] %>

<div class="metrics">

  <h2>API use</h2>

  <% if api_data_for_date_range? %>

    <table>
      <tr>
        <td>View item metadata</td>
        <td><%= target.total_api_events %></td>
      </tr>
      <tr>
        <td>Registered users or apps</td>
        <td><%= target.api_users %></td>
      </tr>
    </table>

  <% else %>
      <!-- <table><tr><td>Data not available.</td></tr></table> -->
      <div class="no-data">Data not available</div>
  <% end %>

</div>
