<%# Local variables: overview [OverviewApi] %>

<h2>API use</h2>

<% if api_data_for_date_range? %>

  <table>
    <tr>
      <td>View item metadata</td>
      <td><%= overview.events %></td>
    </tr>
    <tr>
      <td>Registered users/apps</td>
      <td><%= overview.users %></td>
    </tr>
  </table>

<% else %>
    <div class="no-data">Data not available</div>
<% end %>
