<%# Local variables: target [Hub|Contributor] %>

<div class="metrics">

  <h2>API use</h2>

  <table class>
    <tr>
      <td>View item metadata</td>
      <td><%= target.total_api_events %></td>
    </tr>
    <tr>
      <td>Registered users or apps</td>
      <td><%= target.api_users %></td>
    </tr>
  </table>

</div>
