<div class="date-select">
  <%= form_tag(request.path, method: :get) do %>
    <%= label_tag(:date, 'Month or Quarter:') %>
    <%= select_tag(:date, grouped_options_for_select(date_form_options, selected_date)) %>
    <%= submit_tag 'Refresh' %>
  <% end %>
</div>
