<%# Local variables: @item_count [Int|Nil] %>

<% if @item_count != nil %>

  <table>
    <tr>
      <td>Item count</td>
      <td>
        <%= number_with_delimiter(@item_count, :delimiter => ',') %>
      </td>
    </tr>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
