<%# Local variables: mc [Hash] %>

<h2>Item Count</h2>

<% if mc['count'].present? %>

  <table>
    <tr>
      <td>Item count</td>
      <td><%= mc['count'] %></td>
    </tr>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
