<%# Local variables: @item_count [Int|Nil] %>

<% if @item_count != nil %>

  <table>
    <tr>
      <td>Item count</td>
      <td><%= @item_count %></td>
    </tr>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
