<%# Local variables: count [Int] %>

<div class="tooltip">
  <h2>Item Count</h2>
  <span class="tooltiptext"><%= item_count_tooltip %></span>
</div>

<% if count != nil %>

  <table>
    <tr>
      <td>Item count</td>
      <td><%= count %></td>
    </tr>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
