<%# Local variables: mc [Hash] %>

<h2>Metadata Completeness</h2>

<% if mc.present? %>

  <table>
    <% mc.each do |key, value| %>
      <% unless key == "count" %>
        <tr>
          <td><%= key.titleize %></td>
          <td class="bar <%= percentage_class(value) %>">
            <%= render_percentage(value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
