<%# Local variables: mc [Hash] %>

<div class="tooltip">
  <h2>Metadata Completeness</h2>
  <span class="tooltiptext"><%= metadata_completeness_tooltip %></span>
</div>

<% if mc.present? %>

  <table>
    <% mc.each do |key, value| %>
      <% if MetadataCompletenessPresenter.fields.include?(key) && key != "count" %>
        <tr>
          <td><%= key.titleize %></td>
          <td class="bar <%= percentage_class(value) %>">
            <%= render_percentage(value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
