<%# Local variables: metadata_completeness [MetadataCompleteness] %>

<h2>Metadata Completeness</h2>

<% if metadata_completeness.field_data.present? %>

  <table>
    <% metadata_completeness.field_data.each do |key, value| %>
        <tr>
          <td><%= key.titleize %></td>
          <td><%= render_percentage(value) %></td>
        </tr>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
