<%# Local variables: @mc_data[Hash] %>

<% if @mc_data.present? %>

  <table>
    <% @mc_data.each do |key, value| %>
      <% if MetadataCompletenessPresenter.fields.include?(key) && key != "count" %>
        <tr>
          <td><%= key.titleize %></td>
          <td class="bar <%= percentage_class(value) %>">
            <%= render_percentage(value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
