<%# Local variables: metadata_completeness [MetadataCompleteness] %>

<div class='metrics'>
  <h2>Metadata Completeness</h2>

  <% if metadata_completeness.data.present? %>

    <table>
      <% metadata_completeness.data.each do |key, value| %>
          <tr>
            <td><%= key.titleize %></td>
            <td><%= render_percentage(value) %></td>
          </tr>
      <% end %>
    </table>

  <% else %>
    <div class="no-data">Data not available</div>
  <% end %>
</div>
