<%# Local variables: @mc_data[Hash] %>

<% if @mc_data.present? %>

  <table>
    <% @mc_data.each do |key, value| %>
      <% if MetadataCompletenessPresenter.fields.include?(key) && key != "count" %>
        <tr>
          <td>
            <div class="tooltip">
              <span><%= key.titleize %></span>
              <% if key == 'mediaAccess' %>
                <span class="tooltiptext"><%= media_access_tooltip %></span>
              <% end %>
            </div>
          </td>
          <td class="bar <%= percentage_class(value) %>">
            <%= render_percentage(value) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

<% else %>
  <div class="no-data">Data not available</div>
<% end %>
