<nav>
  <ul>
    <li><%= link_to "Hubs", hubs_path %></li>
    <% if current_user.admin? %>
    <li><%= link_to "Manage users", admin_users_path %></li>
    <% end %>
    <li><%= link_to "Account settings", admin_user_path(current_user) %></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>
