<%# Local variables: target [Hub|Contributor] %>

<h2>Top 10 metadata record views on website</h2>

<%= render partial: 'shared/item_table',
           locals: { items: target.view_item_events[1..10] } %>

<h2>Top 10 exhibition item views on website</h2>

<%= render partial: 'shared/item_table',
           locals: { items: target.view_exhibit_events[1..10] } %>

<h2>Top 10 primary source set item views on website</h2>

<%= render partial: 'shared/item_table',
           locals: { items: target.view_pss_events[1..10] } %>

<h2>Top 10 click through items on website</h2>

<%= render partial: 'shared/item_table',
           locals: { items: target.click_through_events[1..10] } %>