<h1>Hubs</h1>

<ul>
  <li>
    <%= link_to "Minnesota Digital Library", controller: :hubs, action: :show, 
                id: "Minneota Digital Library" %>
  </li>
  <li>
    <%= link_to "Recollection Wisconsin", controller: :hubs, action: :show, 
                id: "Recollection Wisconsin" %>
  </li>
</ul>
