<div class="heading">
  <h1>Hubs</h1>
</div>

<main>
  <div class="clear"/>
    <% if @hubs.present? %>
    <ul>
    <% @hubs.each do |hub| %>
      <li>
        <%= link_to hub, controller: :hubs, action: :show, id: hub,
                         start_date: current_start_date,
                         end_date: current_end_date %>
      </li>
    <% end %>
    </ul>
    <% else %>
      There was a problem retriving hubs from the DPLA API.
    <% end %>
  </div>
</main>
