google_analytics:
  # File path to the service account JSON key.
  service_account_json_key: <%= File.join Rails.root, 'config', 'google-analytics-key.json' %>
  profile_id: CHANGEME

dpla_api:
  base_uri: api.dp.la/v2/
  key: CHANGEME
