nav ul {
  padding-left: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-right: 1em;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 10px;
}

label {
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
}
