<h1>Users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Permissions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= "Admin" if user.admin %></td>
    <td><%= link_to "View", admin_user_path(user.id) %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>
