<%= render partial: "shared/sub_navigation",
  locals: { hub: @hub } %>

<main>
  <h1>Contributors</h1>

  <div class="clear">

    <ul>
    <% @hub.contributors.each do |contributor| %>
      <li>
        <a href="/hubs/<%= @hub.name %>/contributors/<%= contributor %>">
          <%= contributor %>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
</main>
